{% set links = obj.links %}
{% set doc = obj.ownerDocument.getElementsByTagName('document')[0] %}
{% set toc = doc.tableofcontents if config.html5['display-toc'] else None %}
{% set rendererdata = obj.ownerDocument.rendererdata['html5'] %}
{% macro tocEntry(section) %}
<span class="toc_ref">{{ section.ref.textContent }}</span> <span class="toc_entry">{{ section.tocEntry }}</span>{% endmacro %}
{% macro isActive(section) %}
{% if section in links.breadcrumbs %} active{% endif %}
{% endmacro %}
{% macro isCurrent(section) %}
{% if section.url == obj.url %} current{% endif %}
{% endmacro %}
{% macro icon(icon, id='', class='') %}
<svg  {% if id %}id="{{id}}" {% endif %}class="icon icon-{{ icon }} {{ class }}"><use xlink:href="symbol-defs.svg#icon-{{ icon }}"></use></svg>
{% endmacro %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="{{ config.files['output-encoding']}}" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="generator" content="plasTeX" />


	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	{% if config.html5['use-mathjax'] %}
	<script type="text/x-mathjax-config">
	{% if config.html5['mathjax-dollars'] %}
	MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
	{% else %}
	MathJax.Hub.Config({tex2jax: {inlineMath: [ ['\\(','\\)']]}});
	{% endif %}
	</script>
	<script type="text/javascript" src="{{ config.html5['mathjax-url'] }}">
	</script>
	{% endif %}
	{% if obj.title %}
	{% if obj.level > config.html5['localtoc-level'] %}
	<title>{{ links.document.title }}: {{ obj.title }}</title>
	{% else %}
	<title>{{ obj.title }}</title>
	{% endif %}
	{% endif %}
	{% if links.next.url %}
	<link rel="next" href="{{ links.next.url }}" title="{{ links.next.title.textContent }}" />
	{% endif %}
	{% if links.prev.url %}
	<link rel="prev" href="{{ links.prev.url }}" title="{{ links.prev.title.textContent }}" />
	{% endif %}
	{% if links.up.url %}
	<link rel="up" href="{{ links.up.url }}" title="{{ links.up.title.textContent }}" />
	{% endif %}
	{% for css in rendererdata.get('css', []) %}
	<link rel="stylesheet" href="styles/{{ css }}" />
	{% endfor %}
	<link rel="stylesheet" href="styles/bootstrap.min.css" />
</head>

<body>
	{% if toc %}
	<nav class="navbar navbar-default navbar-fixed-top toc ">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button id="menuButton" type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">{{ links.document.title }}</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav sub-toc-0">
					{% for section in toc recursive %}
					<li class="{{ isActive(section) }}{{ isCurrent(section) }}">
						{% if section.tableofcontents %}
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ tocEntry(section) }}<span class="caret"></span></a>
							<ul class="dropdown-menu sub-toc-{{loop.depth}}{{ isActive(section) }}">
								{{ loop(section.tableofcontents) }}
							</ul>
						</li>
						{% else %}
						<a href="{{ section.url }}">{{ tocEntry(section) }}</a>
						{% endif %}
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</nav>
	{% endif %}

	<div class="row-offcanvas row-offcanvas-left">
		<div id="sidebar" class="sidebar-offcanvas">
			<div class="panel-group" id="accordion">
				{% for section in toc recursive %}
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{loop.index}}"><span class="glyphicon glyphicon-folder-close">
							</span>{{ tocEntry(section) }}</a>
						</h4>
					</div>
					{% if section.tableofcontents %}
					<div id="collapse{{loop.index}}" class="panel-collapse collapse in">
						<div class="panel-body">
						<ul class="list-group">
							<li class="list-group-item"><span class="glyphicon glyphicon-pencil text-primary"></span><a href="{{ section.url }}">{{ tocEntry(section) }}</a>
								<!-- <ul class="list-group">
									<li class="list-group-item"><span class="glyphicon glyphicon-pencil text-primary"></span><a href="http://fb.com/moinakbarali">Articles</a></li>

									<li class="list-group-item"><span class="glyphicon glyphicon-flash text-success"></span><a href="http://fb.com/moinakbarali">News</a></li>

									<li class="list-group-item"><span class="glyphicon glyphicon-file text-info"></span><a href="http://fb.com/moinakbarali">Newsletters</a></li>

									<li class="list-group-item"> <span class="glyphicon glyphicon-comment text-success"></span><a href="http://fb.com/moinakbarali">Comments</a><span class="badge">42</span></li>

								</ul> -->
							</li>
						</ul>
					</div>
					</div>
					{% endif %}
				</div>
				{% endfor %}
			</div>
		</div><!-- sidebar -->

		<div id="main">
			<div class="col-md-12">

				<div id="pageContents">
					{{ obj }}
				</div><!-- pageContent -->

			</div><!-- col-md-12 -->
		</div><!-- main -->
		{% for js in rendererdata.get('js', []) %}
		<script type="text/javascript" src="js/{{ js }}"></script>
		{% endfor %}
	</body>
	</html>
