{% set links = obj.links %}
{% set doc = obj.ownerDocument.getElementsByTagName('document')[0] %}
{% set toc = doc.tableofcontents if config.html5['display-toc'] else None %}
{% set rendererdata = obj.ownerDocument.rendererdata['html5'] %}
{% macro tocEntry(section) %}
<span class="toc_ref">{{ section.ref.textContent }}</span> <span class="toc_entry">{{ section.tocEntry }}</span>{% endmacro %}
{% macro isActive(section) %}
{% if section in links.breadcrumbs %} active{% endif %}
{% endmacro %}
{% macro isCurrent(section) %}
{% if section.url == obj.url %} current{% endif %}
{% endmacro %}
{% macro icon(icon, id='', class='') %}
<svg  {% if id %}id="{{id}}" {% endif %}class="icon icon-{{ icon }} {{ class }}"><use xlink:href="symbol-defs.svg#icon-{{ icon }}"></use></svg>
{% endmacro %}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

		{% if config.html5['use-mathjax'] %}
		<script type="text/x-mathjax-config">
		{% if config.html5['mathjax-dollars'] %}
		MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
		{% else %}
		MathJax.Hub.Config({tex2jax: {inlineMath: [ ['\\(','\\)']]}});
		{% endif %}
		</script>
		<script type="text/javascript" src="{{ config.html5['mathjax-url'] }}">
		</script>
		{% endif %}
		{% if obj.title %}
		{% if obj.level > config.html5['localtoc-level'] %}
		<title>{{ links.document.title }}: {{ obj.title }}</title>
		{% else %}
		<title>{{ obj.title }}</title>
		{% endif %}
		{% endif %}
		{% if links.next.url %}
		<link rel="next" href="{{ links.next.url }}" title="{{ links.next.title.textContent }}" />
		{% endif %}
		{% if links.prev.url %}
		<link rel="prev" href="{{ links.prev.url }}" title="{{ links.prev.title.textContent }}" />
		{% endif %}
		{% if links.up.url %}
		<link rel="up" href="{{ links.up.url }}" title="{{ links.up.title.textContent }}" />
		{% endif %}

    <link href="styles/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="styles/animate.css" rel="stylesheet">
    <link href="styles/style.css" rel="stylesheet">

		<link href="styles/custom.css" rel="stylesheet">

</head>

<body>

<div id="wrapper">

    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">David Williams</strong>
                             </span> <span class="text-muted text-xs block">Art Director <b class="caret"></b></span> </span> </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="#">Logout</a></li>
                            </ul>
                    </div>
                    <div class="logo-element">
                        IN+
                    </div>
                </li>
								{% for section in toc recursive %}
								<li class="{{ isActive(section) }}{{ isCurrent(section) }}">
									<a href="{{ section.url }}"><span class="nav-label">{{ tocEntry(section) }}</span>{% if section.tableofcontents %}<span class="fa arrow"></span>{% endif %}</a>
									{% if section.tableofcontents %}
									<ul class="nav nav-second-level collapse">
										{{ loop(section.tableofcontents) }}
                  </ul>
									{% endif %}
								</li>
								{% endfor %}
            </ul>

        </div>
    </nav>

    <div id="page-wrapper" class="white-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    <form role="search" class="navbar-form-custom" method="post" action="#">
                        <div class="form-group">
                            <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                        </div>
                    </form>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <a href="#">
                            <i class="fa fa-sign-out"></i> Log out
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
				<div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>{{ obj.title }}</h2>
								{% if obj.level >= config.html5['breadcrumbs-level'] %}
								<ol class="breadcrumb">
								{% for crumb in links.breadcrumbs %}
								{% if loop.last %}
									<li class="active">{{ crumb.title }}</li>
								{% elif loop.first %}
									<li><a href="{{ crumb.url }}"><span class="glyphicon glyphicon-home"></span></a></li>
								{% else %}
									<li><a href="{{ crumb.url }}">{{ crumb.title }}</a></li>
								{% endif %}
								{% endfor %}
								</ol>
								{% endif %}
            </div>
            <div class="col-lg-2">

            </div>
        </div>
        <div class="row animated fadeInRight">
            <div id="page-content" class="col-lg-12">
							{{ obj }}
            </div>
        </div>
        <div class="footer">
            <div class="pull-right">
							<nav class="prev_up_next">
							{% for nav in rendererdata.get('extra-nav', []) %}
								{{ icon(nav['icon'], id=nav['id'], class=nav['class']) }}
							{% endfor %}
								{% if links.prev.url %}
								<a href="{{ links.prev.url }}" title="{{ links.prev.title | striptags }}"><span class="glyphicon glyphicon-chevron-left"></span></a>
								{% endif %}
								{% if links.up.url %}
								<a href="{{ links.up.url }}" title="{{ links.up.title | striptags }}"><span class="glyphicon glyphicon-chevron-up"></a>
								{% endif %}
								{% if links.next.url %}
								<a href="{{ links.next.url }}" title="{{ links.next.title | striptags }}"><span class="glyphicon glyphicon-chevron-right"></a>
								{% endif %}
								{% if links.index.url %}
								<a href="{{ links.index.url }}" class="index">Index</a>
								{% endif %}
							</nav>
            </div>
            <div>
                <strong>Copyright</strong> Example Company &copy; 2014-2017
            </div>
        </div>

    </div>
</div>

<!-- Mainly scripts -->
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="js/inspinia.js"></script>
<script src="js/plugins/pace/pace.min.js"></script>


</body>

</html>
