body {
  min-height: 2000px;
  padding-top: 105px;
}

#sidebar {
  width: inherit;
  min-width: 320px;
  max-width: 320px;
  float: left;
  position:relative;
  overflow-y:auto;
  overflow-x:hidden;
}
#main {
  overflow:auto;
}


@media screen and (max-width: 991px) {
  #main, #sidebar {
    height: 100%;
  }

  #main {
    padding: 0px 10px 0px 10px;
  }

  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    width:calc(100% + 320px);
  }

  .row-offcanvas-left
  {
    left: -320px;
  }

  .row-offcanvas-left.active {
    left: 0;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
  }

  #toggle_sidebar {
    padding-left: 0;
  }

  /* hide pills (tabs) on small screens */
  #subtoc .subtoc-pill {
    display: none;
  }
  /*Close the page contents container at the top when no subnav pills are displayed*/
  #pageContents {
    border-top: 1px solid #ccc;
  }

  #tools .btn {
    padding-right: 3px;
  }
  #toolsRow {
    margin-right: 0!important;
  }

  #navbarTop .navbar-form {
    margin-top: 8px;
    margin-right: 0;
    margin-bottom: 8px;
    margin-left: 0;
    border: none;
    padding: 0 15px;
  }

  #navbarTop .navbar-nav .open .dropdown-menu {
    position: absolute;
    float: left;
    top: 100%;
    min-width: 160px;
    margin: 2px 0 0;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .15);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    left: auto;
    right: 0;
  }

}/** end @media screen and (max-width: 991px) **/



@media (max-width: 768px) {
  /**
  * as the top navbar is set to not collapse we need to edit navbar form styles
  */
  #navbarTop .navbar-nav {
    margin: 4.5px -10px;
  }
}/** end @media (max-width: 768px) **/

#accordion .glyphicon { margin-right:10px; }
.panel-collapse>.list-group .list-group-item:first-child {border-top-right-radius: 0;border-top-left-radius: 0;}
.panel-collapse>.list-group .list-group-item {border-width: 1px 0;}
.panel-collapse>.list-group {margin-bottom: 0;}
.panel-collapse .list-group-item {border-radius:0;}

.panel-collapse .list-group .list-group {margin: 0;margin-top: 10px;}
.panel-collapse .list-group-item li.list-group-item {margin: 0 -15px;border-top: 1px solid #ddd !important;border-bottom: 0;padding-left: 30px;}
.panel-collapse .list-group-item li.list-group-item:last-child {padding-bottom: 0;}

.panel-collapse div.list-group div.list-group{margin: 0;}
.panel-collapse div.list-group .list-group a.list-group-item {border-top: 1px solid #ddd !important;border-bottom: 0;padding-left: 30px;}
.panel-collapse .list-group-item li.list-group-item {border-top: 1px solid #DDD !important;}
